@using trip_planner_austin_hc.Models.viewModels
@model TripViewModel
@{
    ViewBag.title = "Add trip - page 2";
    ViewBag.Subheader = $"Things to do in {Model.Trip.Destination.Name}";
}

<form asp-action="add">
    <input type="hidden" asp-for="PageNumber" />

    <div class="mb-3">
        <label class="form-label">Select Activities</label>
        <select asp-for="SelectedActivities" asp-items="@(new MultiSelectList(Model.Activities, "Id", "Name"))" 
                class="form-control" multiple size="10">
        </select>
    </div>

    <button type="submit" class="btn btn-dark">Save</button>
    <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
</form>