@using trip_planner_austin_hc.Models.viewModels
@using trip_planner_austin_hc.Models.viewModels
@model TripViewModel
@{
    ViewBag.title = "Add trip - page 3";
    ViewBag.Subheader = $" things to do in  {Model.Trip.Destination}";

}
<form asp-action="add">
    <input type="hidden"
           asp-for="PageNumber" />
    <div class="mb-3">
        <input asp-for="Trip.Activity1" class="form-control" />
    </div>
    <div class="mb-3">
        <input asp-for="Trip.Activity2" class="form-control" />

    </div>
    <div class="mb-3">
        <input asp-for="Trip.Activity3" class="form-control" />
    </div>



    <button type="submit" class="btn btn-dark">Next</button>
    <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
</form>